body{
    background-image: url(https://i.natgeofe.com/n/15ec8dec-df7c-45af-a0ae-08d4e906a134/belvedere-castle.jpg);
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.border{
    background: linear-gradient(white,skyblue);
}